In [2]:
# Lib para Modelagem de dados
import pandas as pd
import numpy as np

In [3]:
# Dados estão nessa URL
URL = 'https://archive.ics.uci.edu/ml/machine-learning-databases/autos/imports-85.data'

In [4]:
# Parametros para os dados
Colunas = ['symboling', 'normalized', 'make', 'fuel-type', 'aspiration',
           'num-of-doors', 'body', 'drive', 'engine-location', 'wheel', 'length',
           'width', 'height', 'curb', 'engine-type', 'num-of-cylinders', 'engine-size',
           'fuel-system', 'bore', 'stroke', 'compression', 'horsepower',
           'peak', 'city', 'highway', 'price']

In [5]:
# Ler os dados
Base_Dados = pd.read_csv(URL, names=Colunas)

In [6]:
# Verificando
Base_Dados.head()

,symboling,normalized,make,fuel-type,aspiration,num-of-doors,body,drive,engine-location,wheel,...,engine-size,fuel-system,bore,stroke,compression,horsepower,peak,city,highway,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

In [7]:
# Selecionar apenas colunas flutuantes para nosso exemplos
Colunas_Flutuantes = Base_Dados.columns[ Base_Dados.dtypes == 'float64' ]

In [8]:
# Verificando
Base_Dados[Colunas_Flutuantes].head()

   wheel  length  width  height  compression
0   88.6   168.8   64.1    48.8          9.0
1   88.6   168.8   64.1    48.8          9.0
2   94.5   171.2   65.5    52.4          9.0
3   99.8   176.6   66.2    54.3         10.0
4   99.4   176.6   66.4    54.3          8.0

In [9]:
# Função do MixMax
from sklearn.preprocessing import MinMaxScaler

In [10]:
# Instanciando o MinMax
Funcao_MinMax = MinMaxScaler()

In [11]:
# Aprender os parâmetros estatísticos para cada um dos dados e transformando
Dados_MinxMax = Funcao_MinMax.fit_transform(Base_Dados[Colunas_Flutuantes].values )

In [12]:
# Verificando
pd.DataFrame(Dados_MinxMax,columns=Colunas_Flutuantes ).head()

      wheel    length     width    height  compression
0  0.058309  0.413433  0.316667  0.083333       0.1250
1  0.058309  0.413433  0.316667  0.083333       0.1250
2  0.230321  0.449254  0.433333  0.383333       0.1250
3  0.384840  0.529851  0.491667  0.541667       0.1875
4  0.373178  0.529851  0.508333  0.541667       0.0625

In [13]:
# Função do StandardScaler
from sklearn.preprocessing import StandardScaler

In [14]:
# Instanciando o StandardScaler
Funcao_Standard = StandardScaler()

In [15]:
# Aprender os parâmetros estatísticos para cada um dos dados e transformando
Dados_Standard = Funcao_Standard.fit_transform( Base_Dados[Colunas_Flutuantes].values )

In [16]:
# Verificando
pd.DataFrame(Dados_Standard,columns=Colunas_Flutuantes ).head()

      wheel    length     width    height  compression
0 -1.690772 -0.426521 -0.844782 -2.020417    -0.288349
1 -1.690772 -0.426521 -0.844782 -2.020417    -0.288349
2 -0.708596 -0.231513 -0.190566 -0.543527    -0.288349
3  0.173698  0.207256  0.136542  0.235942    -0.035973
4  0.107110  0.207256  0.230001  0.235942    -0.540725

In [17]:
# Função do RobustScaler
from sklearn.preprocessing import RobustScaler

In [18]:
# Instanciando o RobustScaler
Funcao_RobustScaler = RobustScaler()

In [19]:
# Aprender os parâmetros estatísticos para cada um dos dados e transformando
Dados_RobustScaler = Funcao_RobustScaler.fit_transform( Base_Dados[Colunas_Flutuantes].values )

In [20]:
# Verificando
pd.DataFrame(Dados_RobustScaler,columns=Colunas_Flutuantes ).head()

      wheel    length     width    height  compression
0 -1.063291 -0.261905 -0.500000 -1.514286         0.00
1 -1.063291 -0.261905 -0.500000 -1.514286         0.00
2 -0.316456 -0.119048  0.000000 -0.485714         0.00
3  0.354430  0.202381  0.250000  0.057143         1.25
4  0.303797  0.202381  0.321429  0.057143        -1.25